<%- include ('partials/navbar.ejs') %> 
<%- include ('partials/header.ejs') %>  
   <h1>Bem-vindo ao Par치 Lanches!</h1>
    <hr>
    <p>Aqui voc칡 poder치 vizualizar os pedidos, clientes e produtos dispon칤veis...游</p>

    <img src="/images/Par치-Lanches.png" alt="Par치-Lanches">

<%- include ('partials/footer.ejs') %>   