body {
    background-color: #f1f1f1;
}

ul {
    list-style: square;
    line-height: 30px;
}

a {
    color:#ff0303;
    text-decoration: none;
    padding: 20px;
}

th, td {
    padding: 10px;
}

footer {
    text-align: center;    
}

.btn {
    background-color: yellowgreen;
    color: white;
    align-items: center;
    border-color: black;
}

.image-size{
    width: 60px;
    height: auto;
}

.image-size2{
    width: 60px;
    height: auto;
}